*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: azure; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
body{
    background-color: whitesmoke;
}

.container {
    background-color: white;
    width: 50%;
    margin: 0 auto;
}
.sub-text{
    color: #6E6E6E;
}
h1{
    font-size: 50px;
    padding-left: 3%;
}
header{
    display: flex;
    margin-top: 50px;
    /* background-color: yellow; */
    /* width: 90%;
    float: left; */ 
}

.header-text{
    flex-grow: 2;
}
.header-text p {
    padding-left: 3%;
}
.header-btn{
    flex-basis: 10%;
}
header button{
    float: right;
    padding: 8px 15px;
    background-color: #EE2375;
    border: none;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    margin: 10px 10px 0 0 ;
}



/* ************************************************** */



.task-status{
    /* background-color: blue;  */
    padding-top: 20px;
    margin-bottom: 20px;
}
.task-status  label{
    display: inline-block;
    margin: 0 15%
}



/* ************************************************** */



.tasks{
    /* background-color: aquamarine; */
    width: 80%;
    float: right;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    /* grid-area: 
    ". ."
    ". ."
    ". ."
    ". ."; */
    justify-items: left;
    align-items: center;
    margin-bottom: 10%;
    margin-right: 15px;
    
}
.task-box{
    position: relative;
    background-color: rgba(241, 239, 239, 0.322);
    padding: 10px 100px 10px 20px;
    width: 100%;
    box-shadow:0 10px 10px 0 rgba(174, 210, 212, 0.432) ;
    border-radius: 8px;
}
.task-box div{
    width: 10px;
    height: 10px;
    position: absolute;
    top:10px ;
    right: 10px;
    /* background-color: aqua; */
    border-radius: 50%;
}
.color1{
    background-color: #42AAFD;
}
.color2{
    background-color: #CD42FD;
}
.color3{
    background-color: #01BACC;
}
.color4{
    background-color: #EE2375;
}

/* to avoid combine with timeline  */
.clearfix{
    clear: both;
}


/* ************************************************** */




.timeline-box{
    padding: 10px;
    position: relative;/*for show task boxes in time line*/

}
.timeline-box span{
    /* background-color: yellow; */
    width: 10%;
    padding:0 10px;
}
/* .timeline{
    position: absolute;
} */
.line{
    float: right;
    background-color: #F1F1F5;
    /* background-color: #0000ff; */
    width: 80%;
    height: 1px;
    margin-top: 2%;
}
/* for the time we want generate with DOM */
.road-box{
    position: absolute;
    right: 5%;
    width: 70%;
    /* height: 10px;for test */
    /* background-color: #c66516c8; */
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
    /* margin-top: 30px; */
}
.road-box:hover{
    background-color: whitesmoke;
}
.circle-color1{
    float: right;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    /* background-color:#42AAFD ; */
}
.circle-color2{
    float: right;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    /* background-color:#42AAFD ; */
}
.circle-color3{
    float: right;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    /* background-color:#42AAFD ; */
}
.circle-color4{
    float: right;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    /* background-color:#42AAFD ; */
}
