*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: azure; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
body{
    background-color: whitesmoke;
}
.container{
    width: 50%;
    background-color: white;
    margin: 0 auto;
}
/*********************************************************/
.search{
    padding: 50px 20px 20px 20px;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
button{
    border: none;
    background-color: transparent;
}
/* .search > img{
    /* width: 5%; 
    /* height: 15px; 
} */
.arrow-logo{
    align-self: center; 
    flex-grow: 0;
}
.arrow-logo img{
    width: 50%;
    margin-left: 25%;
}
.search-input{
    flex-grow: 1;
    /* border-left: 2px solid rgb(44, 44, 44); */
    
}
.search input{
    width: 100%;
    border: none;
    border-left: 2px solid rgb(44, 44, 44);
    height: 30px
}
.search-logo{
    align-self: center;
    flex-grow: 0;
}
.search-logo img{
    width: 50%;
    margin-left:25%;
}
/*********************************************************/
table{
    /* border: 1px solid black; */
    padding-bottom: 20px;
    width: 100%;
}
tr > td > button{
    margin:0 15%;
    width: 80%;
    height: auto;
}
tr h3 , p{
    display: block;
    margin-left: 10%;
}
tr td:nth-child(1){
    width: 10%;
    padding-left: 10px;
}
tr td:nth-child(3){
    width: 10%;
}
tr td:nth-child(3) div {
    margin-left: 40%;
}
/**********************delete box************************/
.delete-box{
    background-color: #FBD2E3;
}
.col-font{
    width: 80%;
    font-size: small;
    color: #EE2375;
}
.trash-icon{
    width: 2%;
    background-color: #EE2375;
}
.trash-icon img{
    margin:10% 30%;
    width: 40%;
}

/* .task-list{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border: none;
    border-bottom: 1px solid #F1F1F5;
    font-size: small;
}
p{
    color: #404040;;
}
.tl-img img{
    width: 50%;
    flex-grow: 1;
}
.tl-img{
    margin: 0 30px;
    align-self: center;
}
.tl-txt{
    display: block;
    flex-grow: 1;
} 
 .tl-circle{
    align-self: flex-start;
     flex-grow: 1; 
 }  */
.circle1{
    width: 8px;
    height: 8px;
    background-color: black;
    /* margin: 0 10px; */
    /* margin: 10px; */
    border-radius: 50%;
    /* align-self: flex-start; */
}
.circle2{
    width: 8px;
    height: 8px;
    background-color: black;
    margin: 0 10px;
    border-radius: 50%;
    /* align-self: flex-start; */
}
.circle3{
    width: 8px;
    height: 8px;
    background-color: black;
    margin: 0 10px;
    border-radius: 50%;
    /* align-self: flex-start; */
}
.circle4{
    width: 8px;
    height: 8px;
    background-color: black;
    margin: 0 10px;
    border-radius: 50%;
    /* align-self: flex-start; */
}
/*********************************************************/
/* .dl-txt{
    background-color: #FBD2E3;
    width: 80%;
    float: left;
    height: 50px;
}
.dl-txt h3{
    padding-top: 10px;
    padding-left: 25px;
    color: #EE2375;
    font-size: small;
}
.dl-txt p{
    padding-left: 25px;
    color: #EE2375;
    font-size: small;
}
.dl-img{
    float: right;
    background-color: #EE2375;
    width: 20%;
    height: 50px;
}
.dl-img img{
    margin-left: 25px;
    margin-top: 10px;
    width: 20px;
    height: auto;
}
#clearfix{
    clear: both;
} */
.hov:hover{
    display: none;
}